@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: black;
    color: white;
}
.header{
    background-color:rgb(37, 34, 34);
}
.card{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    background-color: rgb(85, 82, 82);
    border-radius: 3px;
    color:burlywood; 
}
